@tailwind base;
@tailwind components;
@tailwind utilities;
@import "boxicons/css/boxicons.min.css";



.input-style {
  @apply bg-slate-100 dark:bg-slate-800 px-3 py-2 rounded-lg outline-none text-sm;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to   { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}
